
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .login {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 8px;
    width: 250px;
    margin: auto;
  }
  
  .login button {
    padding: 12px;
    font-size: 1rem;
    background-color:gray;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    margin: auto;
    transition: background 0.3s;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }
  
  #loginmessage {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .main {
    margin-top: 20px;
    display: none; 
  }
  
  iframe {
    border: none;
    border-radius: 10px;
  }